<header class="header-global" ng-controller="MenuController">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <a ng-href="#/home" class="brand">
                                <img src="build/assets/images/logo.png" alt=""/>
                                <span class="text">Project Manager</span>
                            </a> <!-- /brand -->
                        </div>
                        <div class="col-sm-6">
                            <menu class="menu" menu-activated>
                                <li data-match-route="/home">
                                    <a ng-href="#/home">
                                        <i class="fa fa-home"></i> Painel
                                    </a>
                                </li>
                                <li data-match-route="/project.*">
                                    <a ng-href="#/projects/dashboard">
                                        <i class="flaticon-data-analytics1"></i> Projetos
                                    </a>
                                </li>
                                <li data-match-route="/project/.*">
                                    <a ng-href="#/project/member/dashboard">
                                        <i class="flaticon-data-analytics1"></i> Project Member
                                    </a>
                                </li>
                                <li data-match-route="/client.*">
                                    <a ng-href="#/clients/dashboard">
                                        <i class="flaticon-office-worker2"></i> Clientes
                                    </a>
                                </li>
                            </menu> <!-- /menu -->
                        </div>
                        <div class="col-sm-2">
                            <form action="" class="form-inline" role="form">
                                <input type="text" name="q" placeholder="Busca" />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form> <!-- /form-search -->
                        </div>
                        <div class="col-sm-2">
	                        <ul class="nav navbar-nav top">
									<li  bs-dropdown data-animation="am-flip-x">
										<a ng-href="" class="dropdown-toggle userinfo" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle >
											<i class="avatar flaticon-user7"></i>
											{{ userLogado.name }} 
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu top" role="menu" uib-dropdown-menu>
											<li><a ng-href="#/logout" class="userinfo"><i class="fa fa-sign-out"></i> Sair</a></li>
										</ul>
									</li>
							</ul>
                            <!-- <a ng-href="" class="userinfo">
                                <i class="avatar flaticon-user7"></i>
                                Olá, {{ userLogado.name }}
                            </a> -->
                        </div>
                    </div>
                </div>
            </div> <!-- /top -->
            <div class="bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="h3">{{ pageTitle }}</h1>
                        </div>
                    </div>
                </div>
            </div> <!-- /bottom -->
        </header> <!-- /header-global -->