<section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <header class="header-internal">
                            <div class="row row-xs">
                                <div class="col-xs-8">
                                    <h2 class="h4 page-title line-after">
                                        <span>Projetos</span>
                                    </h2>
                                </div>
                                <div class="col-xs-4">
                                    <div class="tools">
                                        <div>
                                            <label class="select-styled select-styled-default select-styled-sm">
                                            <select name="project"  ng-model='project' ng-options="o as o.name for o in projects" ng-change="changed()">
                                            <option value="">Todos</option>
                                </select>
                                                
                                            </label>
                                        </div>
                                        <div class="btn-group">
                                            <a href="" class="btn btn-default btn-sm" ng-click="grade=true">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a href="" class="btn btn-default btn-sm" ng-click="grade=false">
                                                <i class="fa fa-align-justify"></i>
                                            </a>
                                        </div>

                                        <a class="btn btn-default btn-sm" ng-href="#/project/new">
                                            <i class="fa fa-plus"></i> Projeto
                                        </a>
                                    </div> <!-- /tools -->
                                </div>
                            </div>
                        </header> <!-- /header-internal -->

                        <div class="row">
                            <div class="col-sm-4" ng-repeat="p in projectsSelected" ng-class="{'col-sm-4':grade, 'col-sm-12':!grade}">
                                <div class="panel panel-default panel-stacked">
                                    <div class="panel-heading bg-white no-border-bottom text-boulder">
                                        <h3 class="h4 text-boulder">{{p.name}}</h3>
                                        <small class="text-upper text-silver">{{p.client.name}}</small>
                                    </div> <!-- /panel-heading bg-white -->
                                    <div class="panel-body">
                                        <ul class="list-unstyled list-padding text-boulder">
                                            <li class="clearfix">
                                                Progresso:

                                                <div class="radial-progress radial-progress-xs radial-progress-warning progresso-inline pull-right" data-progress="{{p.progress}}">
                                                    <div class="circle">
                                                        <div class="mask full">
                                                            <div class="fill"></div>
                                                        </div>
                                                        <div class="mask half">
                                                            <div class="fill"></div>
                                                            <div class="fill fix"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <div class="inset">
                                                        <div class="percentage">
                                                            <div class="numbers">{{p.progress}}%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                Progresso esperado:

                                                <div class="radial-progress radial-progress-xs radial-progress-warning progresso-inline pull-right" data-progress="{{p.progress_expected}}">
                                                    <div class="circle">
                                                        <div class="mask full">
                                                            <div class="fill"></div>
                                                        </div>
                                                        <div class="mask half">
                                                            <div class="fill"></div>
                                                            <div class="fill fix"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <div class="inset">
                                                        <div class="percentage">
                                                            <div class="numbers">{{p.progress_expected}}%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                Prazo: <span class="pull-right text-orange">{{p.due_date | dateDiaMes}}</span>
                                            </li>
                                        </ul> <!-- /panel-list-unstyled -->
                                    </div> <!-- /panel-body -->
                                    <div class="panel-footer panel-footer-xs no-border-top sazerac font-bold" ng-class="{'text-info': p.status==1, 'text-success': p.status==2,'text-danger': p.status==3}">
                                        <i class="fa fa-circle"></i> {{status[p.status-1].label}}
                                        <span class="pull-right">+{{p.tasks_opened}}</span>
                                    </div> <!-- /panel-footer panel-footer-xs sazerac -->
                                </div> <!-- /panel.panel-default -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <h5>Últimas atualizações</h5>

                        <br/>
                        <div class="mini-timeline">
                            <div class="list-item list-item-stacked text-boulder" ng-repeat="task in tasks">
                                <div class="clearfix">
                                    <img src="build/assets/images/avatar.png" alt="" class="avatar-sm rounded"/>
                                    <p>
                                        <strong>Tarefa: {{task.name}} {{task.created_at == task.updated_at?'adicionada':'atualizada'}}</strong>
                                        <br/>
                                        <small>{{task.updated_at | dateMoment}}</small>
                                        <br/>
                                        <span class="text-info">{{status[task.status-1].label}}</span>
                                    </p>
                                </div>
                            </div> <!-- /list-item -->

                        </div>
                    </div>
                </div>
            </div>
        </section>