
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Visualização de Projeto</div>
				<div class="panel-body">

					<form class="form-horizontal" name="formProject" role="form" method="POST" >

						<div class="form-group" >
							<label class="col-md-4 control-label">Client:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.client.name}}</label>
							</div>
						</div>

						<div class="form-group" >
							<label class="col-md-4 control-label">Name:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.name}}</label>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Description:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.description}}</label>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Progress:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.progress}}</label>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Status:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.status}}</label>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Due Date:</label>
							<div class="col-md-6">
								<label class="control-label">{{project.due_date}}</label>
							</div>
						</div>

						
						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<a ng-href="#/projects/{{project.id}}/edit"><i class="fa fa-pencil"></i> Editar</a> |
								<a ng-href="#/projects"><i class="fa fa-backward"></i> Voltar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
