<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Listagem de Clientes</div>
				<div class="panel-body">
					<a href="#/clients/new" class="btn btn-success">Novo</a>
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Responsible</th>
								<th>E-mail</th>
								<th>Phone</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="o in clients">
								<td>{{o.name}}</td>
								<td>{{o.responsible}}</td>
								<td>{{o.email}}</td>
								<td>{{o.phone}}</td>
								<td>
									<a ng-href="#/client/{{o.id}}/show" title="Show"><i class="fa fa-eye"></i></a> | 
									<a ng-href="#/client/{{o.id}}/edit" title="Editar"><i class="fa fa-pencil"></i></a> | 
									<a ng-href="#/client/{{o.id}}/remove" title="Excluir"><i class="fa fa-minus"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
